@using GolfClub.BLL.Models

<h2 class="text-success mb-3">Update Contact Details</h2>
<p class="mb-4">Update your contact details here</p>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="mb-4">
            <label for="email" class="form-label">Email Address</label>
            <InputText id="email" class="form-control" @bind-Value="model.Email" />
        </div>
        <div class="mb-4">
            <label for="phone-number" class="form-label">Phone Number</label>
            <InputText id="phone-number" class="form-control" @bind-Value="model.PhoneNumber" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {

    [SupplyParameterFromForm]
    private UpdateContactModel model { get; set; }

    private Task HandleValidSubmit()
    {
        return null;
    }
}
